.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.checkbox-input {
  position: relative;

  width: 16px;
  height: 16px;

  appearance: none;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-input:checked {
  border-color: #cfcece;
}

.checkbox-input:checked::before {
  content: "\2713";

  position: absolute;
  top: -5px;
  left: 0;

  font-size: 16px;
  color: #000;
}

.checkbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px royalblue;
}
